body {
  background-color: whitesmoke;
  
}
h1 { 
  color: black;
}
h2 {
  color: black;
}
h3 {
  color: black;
}
h4 {
  color: grey;
}
p {
  color: grey;
}

/* unvisited link */
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: green;
}
/*horizontal line style */
hr {
  width: 50%;
  margin-left: 0;
}

#toc_container {
  display: table;
  font-size: 95%;
  margin-bottom: 1em;
  padding: 0px;
  width: auto;
}

.toc_title {
  font-weight: 700;
  text-align: left;
}

#toc_container li,
#toc_container ul,
#toc_container ul li {
  list-style: outside none none !important;
}
#subhead {
  margin-left: 2.5%;
}
#subtext {
  line-height: 150%;
  margin-left: 5%;
}
#subtext_bullet {
  line-height: 150%;
  margin-left: 7.5%;
}
#subtext_bullet2 {
  line-height: 150%;
  margin-left: 10%;
}
#small_image {
  width: 33%;
}
#medium_image {
  width: 49%;
}
#large_image {
  width: 85%;
}
::selection {
  /* Change highlight background color to black */
  background: green;
  /* Change highlight text color to red */
  color: black;
}
